.use-search-ai-emotion-1 {
  transform: translate(0px, 241.424px);
  position: fixed !important;
  width: 52px;
  right: 20px;
  top: 0px;
  user-select: none;
  z-index: 2147483647;
}

.use-search-ai-emotion-2 {
  width: 52px;
  height: 52px;
  transform: translateX(10px);
  transition: transform 0.3s ease, width 0.3s ease;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.5px 0.5px,
    rgba(0, 0, 0, 0.09) 0px 1px 3px 0px, rgba(0, 0, 0, 0.09) 0px 4px 8px 0px;
  cursor: pointer;
  z-index: 2147483647;
}

.use-search-ai-emotion-3 {
  display: flex;
  flex-direction: row;
  width: 52px;
  height: 52px;
  position: relative;
  z-index: 2147483647;
}

.search-ai-button {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed !important;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: #40B5AD;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857rem;
  box-shadow: none;
  font-size: 14px;
  text-transform: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  min-width: unset;
  display: flex;
  padding: 0;
  z-index: 2147483647;
}

.searchai-svg-logo {
  user-select: none;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 20px;
  z-index: 2147483647;
}

.use-search-ai-emotion-2::before,
.use-search-ai-emotion-2::after {
  content: "";
  position: fixed !important;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background:#40B5AD;
  transform: translate(-50%, -50%);
  animation: wave 1.5s infinite;
}

.use-search-ai-emotion-2::after {
  animation-delay: 0.75s;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}
